{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}
{% block content %}
<div role="main" class="content clearfix">
<div class="wrapper main">		
	{% for year, date_year in dates|groupby( 'date.year' ) %}
	
	<h2>{{ year }}</h2>
	<ol class="archive">
		{% for article in date_year %}
		<li class="clearfix"><a href="{{ article.url }}"><time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time> {{ article.title }}</a></li>
		{% endfor %}
	</ol>
	
	{% endfor %}
</div>
</div>
{% endblock %}