{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block content %}
<div role="main" class="content clearfix">	
	<article>
		<div class="post wrapper">
			<h1>{{ article.title }}</h1>
			{{ article.content }}
			
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ TWITTER_USERNAME }}" data-lang="en" data-size="large" data-related="{{ TWITTER_USERNAME }}">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						
			{% if DISQUS_SITENAME %}
			<div class="comments">
			<h2>Comments !</h2>
			    <div id="disqus_thread"></div>
			    <script type="text/javascript">
			       var disqus_identifier = "{{ article.url }}";
			       (function() {
			       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			       dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
			       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			      })();
			    </script>
			</div>
			{% endif %}			
		</div>
	
	{% include 'metadata.html' %}
	</article>	
</div>
{% endblock %}
