<!doctype html>
<html lang="{{ HTML_LANG }}">	
<head>
	<meta charset="utf-8"/>
	<title>{% block title %}{{ SITENAME }}{%endblock%}</title>	
	<meta name="author" content="{{ AUTHOR }}">
	
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:700,400|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
		
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	{% block scripts %}
	{% endblock %}
	
	<link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
	{% if FEED_RSS %}
	<link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}
</head>
	
<body>		
	<header class="clearfix" role="banner">
		<div class="wrapper">
			<h1 class="huge"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
		</div>
	</header>
	
	{% block content %}
	{% endblock %}
	
		
<footer class="clearfix">
	<div class="wrapper pages">
		<ul class="nav">
		{% for p in PAGES %}
			<li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
		{% endfor %}
			<li><a href="{{ SITEURL }}/archives.html">Archive</a></li>
		</ul>
	</div>
	
	<div class="copy wrapper">
		<ul class="social">
			{% for name, link in SOCIAL %}
			<li><a href="{{ link }}">{{ name }}</a></li>
			{% endfor %}
		</ul>
	
		<p role="contentinfo">© 2012 {{ AUTHOR }}<br>
		Proudly powered by <a href="http://alexis.notmyidea.org/pelican/">Pelican</a>.</p>
	</div>
</footer>
	
	<script>
	  var _gaq=[['_setAccount','{{ GOOGLE_ANALYTICS }}'],['_trackPageview']];
	  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	  s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
