{% extends "base.html" %}
{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}

{% block content %}
<div role="main" class="content clearfix">
<div class="wrapper main">		
	<h2>Posts categorized under: {{ category }}</h2>
	
	<ol class="archive">
		{% for article in articles %}
		<li class="clearfix"><a href="{{ SITEURL }}/{{ article.url }}"><time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time> {{ article.title }}</a></li>
		{% endfor %}
	</ol>

</div>
</div>
{% endblock %}