{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}
<div role="main" class="content clearfix">
{% for article in articles %}

	{% if loop.index == 1 %}
	<article class="wrapper main">
		<h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
		{{ article.summary }} <a class="btn" href="{{ SITEURL }}/{{ article.url }}">read more →</a>
	</article>

	{% if loop.length  > 1 %}
	<div class="wrapper main">		
		<h3>More posts</h3>
		<ol class="archive">
	{% endif %}
	{% elif loop.index < 7 %}
			<li class="clearfix"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}"><time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time> {{ article.title }}</a></li>
	{% endif %}
	{% endfor %}
		</ol>
		
		<p>More posts in the <a href="{{ SITEURL }}/archives.html">archive</a>.</p>
	</div>
</div>
{% endblock content %}