{% extends "index.html" %}
{% block head %}
    {{ super() }}
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}/{{ author.url }}">
    <meta name="twitter:title" content="{{ SITENAME }} ~ {{ author }}">
    <meta name="twitter:description" content="All articles by {{ author }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }} ~ {{ author }}"/>
    <meta property="og:description" content="All articles by {{ author }}"/>
    <meta property="og:image" content="{{ AVATAR }}"/>
{% endblock head %}
{% block title %}{{ SITENAME }} - {{ author }}{% endblock %}
{% block heading %}
    <h2>Author: <i>{{ author }}</i></h2>
{% endblock %}

