{% if DEFAULT_PAGINATION %}
<p class="pagination-dir">
    {% if articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
            <a href="{{ SITEURL }}/{{ page_name }}.html">&#8678;</a>
        {% else %}
            <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">&#8678;</a>
        {% endif %}
    {% endif %}
     {{ articles_page.number }} of {{ articles_paginator.num_pages }} 
    {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">&#8680;</a>
    {% endif %}
</p>
{% endif %}

