<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
        <link rel="stylesheet" href="/theme/css/main.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="/theme/js/ie/html5shiv.js"></script><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="/theme/css/ie8.css" /><![endif]-->
</head>

<body>
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
        </header><!-- /#banner -->
<!-- Sidebar -->
            <div id="sidebar">

                <!-- Logo -->
                    <h1 id="logo"><a href="/">{{ SITENAME }}</a></h1>
                    <!-- Text -->
                    <section class="box text-style1">
                        <div class="inner">
                            <p>
                                <strong>Ut scelerisque nec sapien ut sollicitudin:</strong><br />{{SITESUBTITLE}}
                            </p>
                        </div>
                    </section>
                <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            
                            <li><a href="#">Nam euismod dui</a></li>
                            <li><a href="#">Integer eget eros</a></li>
                            <li><a href="#">Proin vehicula tortor</a></li>
                            <li><a href="#">Vestibulum consectetur tellus</a></li>
                        </ul>
                    </nav>

                <!-- Search -->
                    <!-- <section class="box search">
                        <form method="post" action="#">
                            <input type="text" class="text" name="search" placeholder="Search" />
                        </form>
                    </section> -->

                

                <!-- Recent Posts -->
                    <section class="box recent-posts">
                        <header>
                            <h2>Contact Me</h2>
                        </header>
                        <ul>
                            <li><a class="icon fa-envelope" href="#"> eMail</a></li>
                            <li><a class="icon fa-twitter" href="#"> Twitter</a></li>
                            <li><a class="icon fa-facebook" href="#"> Facebook</a></li>
                            <li><a class="icon fa-github" href="#"> Github</a></li>
                            
                        </ul>
                    </section>



                <!-- Copyright -->
                    <ul id="copyright">
                        <li>Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        <li>Modified under a <a href="https://creativecommons.org/licenses/by/3.0/">CC:BY</a> license.</li>
                    </ul>

            </div><!-- /#menu -->
        {% block content %}
        {% endblock %}
<!-- /#contentinfo -->
</body>
</html>
