{% for article in articles_page.object_list %}
    <!-- Portfolio Modal{{article.id }} -->
    <div class="portfolio-modal modal fade" id="portfolioModal{{article.id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{article.title}}</h2>
                                <!-- <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p> -->
                                <img class="img-responsive img-centered" src="images/portfolio/{{article.image}}" alt="">
                                <p>{{article.content}}</p>
                                <ul class="list-inline">
                                    <li><b>Date:</b> {{article.date|strftime("%B %Y")}}</li>
                                    {% if article.client_link == '' %}
                                    <li><b>Client:</b> {{article.client}}</li>
                                    {% else %}
                                    <li><b>Client:</b> <a href="{{article.client_link}}">{{article.client}}</a></li>
                                    {% endif %}
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}