    <!-- jQuery -->
    <script src="{{THEME_STATIC_DIR}}/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{THEME_STATIC_DIR}}/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{THEME_STATIC_DIR}}/js/jqBootstrapValidation.js"></script>
    <script src="{{THEME_STATIC_DIR}}/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{THEME_STATIC_DIR}}/js/agency.min.js"></script>