[submodule "svbtle"]
	path = svbtle
	url = https://github.com/wting/pelican-svbtle.git
[submodule "chunk"]
	path = chunk
	url = git@github.com:tbunnyman/pelican-chunk.git
[submodule "iris"]
	path = iris
	url = https://github.com/slok/iris.git
[submodule "relapse"]
	path = relapse
	url = git@github.com:wamonite/relapse.git
[submodule "neat"]
	path = neat
	url = git@github.com:BYK/pelican-neat.git
[submodule "pelican-mockingbird"]
	path = pelican-mockingbird
	url = git://github.com/wrl/pelican-mockingbird.git
[submodule "bold"]
	path = bold
	url = git://github.com/demianbrecht/pelican-bold.git
[submodule "lannisport"]
	path = lannisport
	url = git://github.com/siovene/lannisport.git
[submodule "fresh"]
	path = fresh
	url = git://github.com/jsliang/pelican-fresh
[submodule "variant-note"]
	path = pelican-variant-note
	url = git://github.com/mpancorbo/pelican-variant-note.git 
[submodule "pelican-cait"]
	path = pelican-cait
	url = git://github.com/hdra/pelican-cait.git
