[submodule "svbtle"]
	path = svbtle
	url = https://github.com/wting/pelican-svbtle.git
[submodule "chunk"]
	path = chunk
	url = git@github.com:tbunnyman/pelican-chunk.git
[submodule "iris"]
	path = iris
	url = https://github.com/slok/iris.git
[submodule "relapse"]
	path = relapse
	url = git@github.com:wamonite/relapse.git
[submodule "neat"]
	path = neat
	url = git@github.com:BYK/pelican-neat.git
[submodule "pelican-mockingbird"]
	path = pelican-mockingbird
	url = git://github.com/wrl/pelican-mockingbird.git
[submodule "svbhack"]
	path = svbhack
	url = git://github.com/giulivo/pelican-svbhack.git
