[submodule "pelicanthemes-generator"]
	path = pelicanthemes-generator
	url = https://github.com/badele/pelicanthemes-generator
[submodule "Responsive-Pelican"]
	path = Responsive-Pelican
	url = git://github.com/ir193/Responsive-Pelican.git
[submodule "hauntr"]
        path = hauntr
        url = https://github.com/kura/hauntr.git
[submodule "ghastly"]
	path = ghastly
	url = https://github.com/kura/ghastly.git
[submodule "svbtle"]
	path = svbtle
	url = https://github.com/wting/pelican-svbtle.git
[submodule "chunk"]
	path = chunk
	url = https://github.com/tbunnyman/pelican-chunk.git
[submodule "iris"]
	path = iris
	url = https://github.com/slok/iris.git
[submodule "relapse"]
	path = relapse
	url = https://github.com/wamonite/relapse.git
[submodule "neat"]
	path = neat
	url = https://github.com/BYK/pelican-neat.git
[submodule "pelican-mockingbird"]
	path = pelican-mockingbird
	url = git://github.com/wrl/pelican-mockingbird.git
[submodule "bold"]
	path = bold
	url = git://github.com/demianbrecht/pelican-bold.git
[submodule "lannisport"]
	path = lannisport
	url = git://github.com/siovene/lannisport.git
[submodule "fresh"]
	path = fresh
	url = git://github.com/jsliang/pelican-fresh
[submodule "variant-note"]
	path = pelican-variant-note
	url = git://github.com/mpancorbo/pelican-variant-note.git
[submodule "water-iris"]
	path = water-iris
	url = git://github.com/jarv/water-iris
[submodule "whispers"]
	path = whispersTheme
	url = git://github.com/deBorn/whispersTheme.git
[submodule "bluegrasshopper"]
	path = bluegrasshopper
	url = https://github.com/gregseth/pelican-bgh.git
[submodule "pelican-cait"]
	path = pelican-cait
	url = git://github.com/hdra/pelican-cait.git
[submodule "irfan"]
	path = irfan
	url = https://github.com/erfaan/pelican-theme-irfan.git
[submodule "svbhack"]
	path = svbhack
	url = https://github.com/giulivo/pelican-svbhack.git
[submodule "html5-dopetrope"]
	path = html5-dopetrope
	url = https://github.com/PierrePaul/html5-dopetrope.git
[submodule "plumage"]
	path = plumage
	url = https://github.com/kdeldycke/plumage.git
[submodule "sundown"]
	path = sundown
	url = https://github.com/keningle/pelican-sundown.git
[submodule "crowsfoot"]
	path = crowsfoot
	url = https://github.com/porterjamesj/crowsfoot.git
[submodule "elegant"]
	path = elegant
	url = https://github.com/talha131/pelican-elegant.git
[submodule "niu-x2"]
	path = niu-x2
	url = https://github.com/wilbur-ma/niu-x2.git
[submodule "storm"]
	path = storm
	url = https://github.com/redVi/storm.git
[submodule "pure"]
	path = pure
	url = https://github.com/danclaudiupop/pure.git
[submodule "jesuislibre"]
	path = jesuislibre
	url = https://github.com/badele/pelican-theme-jesuislibre.git
[submodule "pelipress"]
	path = pelipress
	url = https://github.com/jjimenezlopez/pelipress.git
[submodule "blueidea"]
	path = blueidea
	url = https://github.com/blueicefield/pelican-blueidea.git
[submodule "sora"]
	path = sora
	url = https://github.com/if1live/pelican-sora.git
[submodule "pelican-simplegrey"]
	path = pelican-simplegrey
	url = https://github.com/fle/pelican-simplegrey
[submodule "pujangga"]
	path = pujangga
	url = https://github.com/habibillah/pujangga.git
[submodule "lovers"]
	path = lovers
	url = https://github.com/chdoig/pelican-bootstrap3-lovers.git
[submodule "BT3-Flat"]
	path = BT3-Flat
	url = https://github.com/KenMercusLai/BT3-Flat.git
[submodule "voidy-bootstrap"]
	path = voidy-bootstrap
	url = https://github.com/robulouski/voidy-bootstrap.git
[submodule "burrito"]
	path = burrito
	url = https://github.com/fly/burrito.git
[submodule "maggner-pelican"]
	path = maggner-pelican
	url = https://github.com/kplaube/maggner-pelican.git
[submodule "pelican-sober"]
	path = pelican-sober
	url = https://github.com/fle/pelican-sober.git
[submodule "twenty-html5up"]
	path = twenty-html5up
	url = git://github.com/frankV/twenty-pelican-html5up.git
[submodule "lazystrap"]
	path = lazystrap
	url = https://github.com/lazycoder-ru/lazystrap.git
[submodule "pelican-twitchy"]
	path = pelican-twitchy
	url = https://github.com/ingwinlu/pelican-twitchy.git
[submodule "dev-random3"]
	path = dev-random3
	url = https://github.com/22decembre/dev-random3.git
[submodule "blue-penguin"]
	path = blue-penguin
	url = https://github.com/jody-frankowski/blue-penguin
[submodule "nikhil-theme"]
	path = nikhil-theme
	url = https://github.com/gunchu/nikhil-theme
[submodule "ptemplate"]
	path = ptemplate
	url = https://github.com/spinner-dev/ptemplate.git
[submodule "chameleon"]
	path = chameleon
	url = https://github.com/yuex/pelican-iliork.git
[submodule "mg"]
	path = mg
	url = https://github.com/lucachr/pelican-mg.git
[submodule "martin-pelican"]
	path = martin-pelican
	url = https://github.com/cpaulik/martin-pelican
[submodule "nest"]
	path = nest
	url = https://github.com/molivier/nest.git
[submodule "alchemy"]
	path = alchemy
	url = https://github.com/nairobilug/pelican-alchemy.git
[submodule "Nuja"]
	path = Nuja
	url = https://github.com/allenskd/Nuja.git
[submodule "pjport"]
	path = pjport
	url = https://github.com/xm3ron/pjport.git
