{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<section id="content" class="body">

   <div class="row">
        <div class="eleven columns">


            <header>
              <h2 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                   title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
           {% import 'translations.html' as translations with context %}
           {{ translations.translations_for(article) }}
            </header>
            <footer class="post-info">
              <abbr class="published" title="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
              </abbr>
              {% if article.authors %}
              <address class="vcard author">By 
              {% for author in article.authors|sort %}
                <a class="url fn" href="{{ SITEURL }}/{{ author.url }}"> {{ author }}</a>
              {% endfor %}
              </address>
              {% endif %}
            </footer><!-- /.post-info -->
            <div class="entry-content">
              {{ article.content }}
            </div><!-- /.entry-content -->
            {% if DISQUS_SITENAME %}
            <div class="comments">
              <h3>Comments</h3>
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                var disqus_identifier = "{{ article.url }}";
                (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>
            </div>
            {% endif %}
            {% if JUVIA_ID %}
            <h3>Comments</h3>
            <div id="comments"></div>
            <script type="text/javascript" class="juvia">
               (function() {
                   var options = {
                       container   : '#comments',
                       site_key    : '{{ JUVIA_ID }}',
                       topic_key   : location.pathname,
                       topic_url   : location.href,
                       topic_title : '{{article.title}}',
                       comment_order: 'earliest-first',
                       include_base: !window.Juvia,
                       include_css : !window.Juvia
                   };

                   function makeQueryString(options) {
                       var key, params = [];
                       for (key in options) {
                           params.push(
                               encodeURIComponent(key) +
                               '=' +
                               encodeURIComponent(options[key]));
                       }
                       return params.join('&');
                   }

                   function makeApiUrl(options) {
                       // Makes sure that each call generates a unique URL, otherwise
                       // the browser may not actually perform the request.
                       if (!('_juviaRequestCounter' in window)) {
                           window._juviaRequestCounter = 0;
                       }

                       // or use '//{{ JUVIA_URL }}/api/show_topic.js'
                       // for dynamic switching between http and https
                       var result =
                          '//{{ JUVIA_URL }}/api/show_topic.js' +
                           '?_c=' + window._juviaRequestCounter +
                           '&' + makeQueryString(options);
                       window._juviaRequestCounter++;
                       return result;
                   }

                   var s       = document.createElement('script');
                   s.async     = true;
                   s.type      = 'text/javascript';
                   s.className = 'juvia';
                   s.src       = makeApiUrl(options);
                   (document.getElementsByTagName('head')[0] ||
                    document.getElementsByTagName('body')[0]).appendChild(s);
               })();
            </script>
            {% endif %}


        </div><!-- /.eleven.columns -->

     {% include 'sidebar.html' %}
 </div><!-- /.row -->


</section>
{% endblock %}
