/* SASS Stuff */

@text-color              : #000000;
@text-color-1            : lighten(@text-color, 33%);
@text-color-2            : lighten(@text-color, 40%);

@background-color        : #ffffff;
@background-color-accent : darken(@background-color, 10%);
@brand-color             : #B01;

@main-font               : "Exo 2", "Trebuchet MS", "Corbel", "Nimbus Sans", Helvetica, sans-serif;
@main-font-size          : 12pt;
@headline-font           : "Exo 2", "Trebuchet MS", "Corbel", "Nimbus Sans", Helvetica, sans-serif;

@background-base         : url('/theme/img/lego_background.jpg') no-repeat center center fixed;
@background-mobile       : url('/theme/img/lego_background_mobile.jpg') ;
@background-mobile-1     : url('/theme/img/lego_background.jpg') ;


/* SASS Mixins */

#accented-items() {
    background-color: @brand-color;
    color: @background-color;
}

#jumbo-header(
    @width, 
    @height, 
    @max-height,
    @background,
    @background-size)
    {
  display:table;
  width:@width;
  height:@height;
  max-height: @max-height;
  position:relative;
  background:@background;
  background-size:@background-size;
}


#jumbo-header-mobile(
    @width, 
    @height, 
    @max-height,
    @background,
    @background-size)
    {
  display:table;
  width:@width;
  background-position: 0% 0%;
  background-position: center center;
  height:@height;
  max-height: @max-height;
  position:relative;
  background:@background;
  background-size:@background-size;
}


/* PLAIN Vanilla CSS */

BODY,P,DIV, UL LI, OL LI, TD {
  font-family: @main-font;
  font-size: @main-font-size;
  margin: 0;
}


H1,H2,H3,H4,H5,H6 {
  font-family:@headline-font;
  font-weight: 600;
  color : @text-color-1;
}

H1 { font-size: 2em; }
H2 { font-size: 1.57em; }
H3 { font-size: 1.23em; }
H4 { font-size: 1.1em; }
H5,H6 { font-size: 1.05em; }
 

.header {
    H1 {
      font-size:3em;
      margin-top: 0.2em;
    }
}

.data-holder {
  margin: 1em auto;
  max-width: 1024px;
}

.header, .content, .footer { padding: 1em; }

.header { 
  border-bottom: 1px dotted silver;
}

.footer {   
    border-top: 1px dotted silver;
    UL { 
        margin:0px ;
        padding: 0px; 
        list-style-type:none;

        LI {
              display: inline-block;
              margin: 1px;
              padding: 1px;
              .active {
                  background-color: darken(@brand-color, 15%);
              }
        }
    }
}


.main-article { 
  background-color: @background-color-accent;
  margin-bottom: 0.8em;
  padding: 1em;

    H2 { 
        font-size: 1.9em; 
    }
    P { 
        font-size: 1.2em; 
    }
    .read-more {
      font-size: 0.9em;
      letter-spacing: 2px;
      border-bottom: 1px dotted silver;
      margin-bottom: 0.5em;
    }
}


A { 
  text-decoration: none;
  color: @text-color-1;
}

A:hover {
  color: darken(@brand-color,20%);
}

UL li.active { 
  border: 1px dotted darken(@background-color,25%);
  background-color: darken(@background-color,10%);
}


.header-article .read-more,
.sec-article .read-more {
  font-size: 0.9em;
  letter-spacing: 2px;
  border-bottom: 1px dotted silver;
  margin-bottom: 0.5em;
}

ul.tag-list {
  list-style-type: none;
  margin:0px;
  padding: 0px;
  LI:hover { background-color: darken(@background-color,15%); }
    LI {
      display: inline-block;
      background-color: @background-color;
      border: 1px dotted silver;
      margin-right: 5px;
      margin-bottom: 5px;
      padding: 3px;
    }
  
}


div.entry-summary p{
  font-size: 1.2em;
  margin-bottom: 1em;
}


section.article P { 
  margin-bottom: 1em;
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}

.main-article P, .sec-article P {
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}

.pages {
    background-color: @brand-color;
    color: @background-color;
    padding: 3px;

    UL {
        list-style-type: none;
        margin: 0px;        
        LI {
            display: inline-block;
            margin: 3px 10px 3px 0px;
            A { color: @background-color; font-weight: 600; text-transform: uppercase; }
            .active {              
                background-color: transparent;
                border: 0px solid transparent;
                border-bottom: 1px solid white;
            }
        }
        
        LI:nth-child(1) {
            font-size: 1.4em;
        }
    }
}



#image-block { float: right; }

div.hp-header {
    #jumbo-header (
        100%,
        55%,
        55%,
        @background-base,
        cover)
}

div.hp-header-inner {
    #jumbo-header (
        100%,
        30%,
        30%,
        @background-base,
        cover);

    #title-block H1  {
        font-size: 4em;
        color: @background-color;
        text-align:center;
    }
}  


div.page-header {
  display:table-cell;
  vertical-align: middle;
  text-align:center;
}

div#title-block {
  margin:10px;
  H1 {
    font-size: 6em;
    font-weight:900;  
    text-shadow: 2px 2px 10px #000;
    margin-bottom: 0px;
    A {
        color: @background-color;
    }
  }
  P.blurb {
          font-family:@main-font;
          color: @background-color;
          font-size: 2em;
          text-shadow: 1px 1px 3px #000;
          margin-top: 0px;
          font-weight: 700;

  }
}

.blog_review, .rev_rating {
  background-color: darken(@background-color, 10%);
  padding: 0.5em;
  text-align: justify;
}

.rev_rating {
    margin-bottom: 1em;
    span {
        font-weight: 700;
        color: @text-color;
    }
}

.blog_review {
    margin-bottom:1em;
}


.a_cura_di { 
  font-size: 0.9em; 
  font-style: italic;
}


.sec-article {
  margin-bottom: 1em;
}

.footer {
    background-color:@brand-color;
    color: @background-color;
    A {
        color: @background-color;
        font-weight: bold;
    }
    H3 {
        color: @background-color; margin: 0px;
    }
    UL LI.active {
        color: @brand-color;
    }
    .active {
        color: @background-color;
        A {
            color: darken(@brand-color,20%);
        }
    }
}

span.post-read-more {
    margin-left: 10px;
    border-left: 2px solid #A01;
    padding-left: 10px;

    A { color: #A01  }
  }

.social-section {
    padding: 0.5em 0;
}

.pages UL LI.active { background-color: darken(@brand-color, 10%); }


@media (max-width: 1024px) {
  
  div.content { padding: 0px; }
  div.data-holder { margin: 0px; }
  div.content div.row { padding: 0px; padding-top: 0.5em;}

  div.column.aside { background-color: darken(@background-color,15%); padding: 0.5em;}
  
  .aside UL {
      margin: 0px; 
      padding: 4px;
      list-style: none;
      LI {
          display: inline-block;
          background-color: @background-color; 
        padding: 4px; border: 1px dotted darken(@background-color,40%);
      }
    }

}

@media (max-width: 768px) {

  .content { padding: 0px;}
  div.content { padding: 0px; }
  div.data-holder { margin: 0px; }
  div.content div.row { padding: 0px; padding-top: 0.5em;}

  div.column.aside { background-color: darken(@background-color,15%); padding: 0.5em;}
   div.column > * { margin: 0.5em;}
  

 
  
  #title-block,#image-block { margin: 0.2em auto; }
  #title-block { text-align: center; }
  #image-block { float: none; }

  div.hp-header {
    #jumbo-header-mobile (
        100%,
        100%,
        100%,
        @background-mobile,
        cover)
  }

  div.hp-header-inner {
    #jumbo-header-mobile (
        100%,
        30%,
        100%,
        @background-mobile-1,
        100% 100%);
    #title-block H1 {
        font-size: 2.5em;
        color: @background-color;
        font-weight: 900;
        text-shadow: 2px 2px 10px #000;
        margin-bottom: 0px;
    }
  }

  div#title-block H1 {
     font-size: 2.5em;
     font-weight:900;  
     text-shadow: 2px 2px 10px #000;
     margin-bottom: 0px;
  }

  .content .data-holder {
    margin: 0px;
  }
  
  .main-article  {
    padding: 0.5em;
  }

}





