<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="{% block description %}Coding, scientific development, finance, data analysis, visualization, statistics, and machine learning{% endblock %}">
	<meta name="author" content="{{ AUTHOR }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="{{ SITEURL }}/theme/html5.js"></script>
		<![endif]-->
	<link href="{{ SITEURL }}/theme/css/ipython.css" rel="stylesheet">
	<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
	<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
	<!-- <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css" rel="stylesheet"> -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/simplex/bootstrap.min.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/local.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
	{% block head %}{% endblock %}
</head>
<body>
<div class="container">
	<nav class="navbar navbar-default" style="margin-top:2em;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ SITEURL }}/index.html">{{ SITENAME }}</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{ SITEURL }}/index.html"><i class="fa fa-home"></i> Home</a></li>
					{% for title, key, link in MENUITEMS %}
					<li><a href="{{ SITEURL }}/{{ link }}"><i class="fa fa-{{ key }} "></i> {{title}}</a></li>
					{% endfor %}
					{% if DISPLAY_PAGES_ON_MENU %}
					{% for page in PAGES %}
					<li><a href="{{ SITEURL }}/{{ page.url }}"><i class="fa fa-{{ page.title }} "></i> {{page.title}}</a></li>
					{% endfor %}
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ SITEURL }}/categories.html"><i class="fa fa-archive"></i> Categorias</a></li>
					<li><a href="{{ SITEURL }}/tags.html"><i class="fa fa-tags"></i> Tags</a></li>
					<li><a href="{{ SITEURL }}/feeds/rss.xml"><i class="fa fa-rss"></i> RSS</a></li>
				</ul>
			</div>
		</div>
	</nav>
	{% block mainrow %}{% endblock %}
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center center-block aw-bottom">
			<p>&copy; {{ AUTHOR }} 2015</p>
			<p>Powered by Pelican</p>
		</div>
	</div>
</div>
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$("div.collapseheader").click(function () {
		$header = $(this).children("span").first();
		$codearea = $(this).children(".input_area");
		$codearea.slideToggle(500, function () {
			$header.text(function () {
				return $codearea.is(":visible") ? "Collapse Code" : "Expand Code";
			});
		});
	});
});
</script>
{% include "analytics.html" %}
{% include "github.html" %} 
</body>
</html>