{% extends "base.html" %}
{% block mainrow %}
	<div class="row">
		<div class="col-md-3 col-md-offset-1" style="margin-top:2em;">
			<ul class="list-group">
				{% for url, icon, uid in MEDIAITEMS %}
				<li class="list-group-item"><a href="{{url}}"><i class="fa fa-{{icon}}"></i> {{uid}}</a></li>
				{% endfor %}
			</ul>
			<ul class="list-group">
				{% for cat, art in categories %}
				<li class="list-group-item">
					<span class="badge">{{art | count}}</span>
					<a href="{{SITEURL}}/category/{{cat | replace(" ", "-") }}.html">{{cat}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-7">
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}
