{% extends 'base.html' %}

{% block title %} {{ article.title|striptags }}{% endblock title %}

{% block container %}
    <section id="content">
        <article>
            <p class="article-date">
                {{ article.date }}
            </p>
            <header class="header">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">
                    <h2 class="blogpost-title">
                        {{ article.title }}
                    </h2>
                </a>
            </header>
            <div>
                {{ article.content }}
            </div>
            <div class="article-info">
                <hr/>
                <div class="article-info">
                    <span><b>Category: </b><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
                    <br/>
                    <span><b>Publication Date: </b> {{ article.locale_date }} </span>
                    <br/>
                    {% for tag in article.tags %}
                        <a class="label-default" href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a>
                    {% endfor %}
                    <br/>
                </div>
            </div>
        </article>
        <br/><br/><br/>
    </section>
{% endblock container %}

{% block footer %}
    {% include '_includes/footer.html' %}
{% endblock %}