                            <div class="8u 12u(mobile)">

                                <!-- Links -->
                                    <section>
                                        <h2>Links to Important Stuff</h2>
                                        <div>
                                            <div class="row">
                                                <div class="3u 12u(mobile)">
                                                    <ul class="link-list last-child">
                                                        <li><a href="#">These links</a></li>
                                                        <li><a href="#">Sed mattis quis rutrum</a></li>
                                                        <li><a href="#">Accumsan suspendisse</a></li>
                                                        <li><a href="#">Eu varius vitae magna</a></li>
                                                    </ul>
                                                </div>
                                                <div class="3u 12u(mobile)">
                                                    <ul class="link-list last-child">
                                                        <li><a href="#">Are in the "links.html" include.</a></li>
                                                        <li><a href="#">Sed mattis quis rutrum</a></li>
                                                        <li><a href="#">Accumsan suspendisse</a></li>
                                                        <li><a href="#">Eu varius vitae magna</a></li>
                                                    </ul>
                                                </div>
                                                <div class="3u 12u(mobile)">
                                                    <ul class="link-list last-child">
                                                        <li><a href="#">Neque amet dapibus</a></li>
                                                        <li><a href="#">Accumsan suspendisse</a></li>
                                                        <li><a href="#">Eu varius vitae magna</a></li>
                                                    </ul>
                                                </div>
                                                <div class="3u 12u(mobile)">
                                                    <ul class="link-list last-child">
                                                        <li><a href="#">Neque amet dapibus</a></li>
                                                        <li><a href="#">Sed mattis quis rutrum</a></li>
                                                        <li><a href="#">Accumsan suspendisse</a></li>
                                                        <li><a href="#">Eu varius vitae magna</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                            </div>