            <script src="/{{THEME_STATIC_DIR}}/js/jquery.min.js"></script>
            <script src="/{{THEME_STATIC_DIR}}/js/skel.min.js"></script>
            <script src="/{{THEME_STATIC_DIR}}/js/skel-viewport.min.js"></script>
            <script src="/{{THEME_STATIC_DIR}}/js/util.js"></script>
            <!--[if lte IE 8]><script src="/{{THEME_STATIC_DIR}}/js/ie/respond.min.js"></script><![endif]-->
            <script src="/{{THEME_STATIC_DIR}}/js/main.js"></script>
            {% if GOOGLE_ANALYTICS %}
            <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{GOOGLE_ANALYTICS}}']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            </script>
    {% endif %}