        <div id="content">
          <h3 style="text-align: center">DISCLAIMER</h3>
          <p>
The data and information provided on this website is for informational purposes only.  The views or positions expressed on this website are the owner's alone.  The content on this website is subject to change at any time at the owner's discretion.  The owner of this website makes no representations as to the accuracy, completeness, currentness, suitability, validity, or humor of any information provided on this site.  The owner assumes no liability for any errors, omissions, delays or any losses, injuries, damages, or lack of amusement arising from the downloading, displaying, or using of any information provided on this site.  The owner of this site may lose his/her shit after writing this damn thing and gives a mean grumpy if my swearing bothers you.
         </p>
       </div>