{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Blog entries tagged with "{{ tag }}"{% endblock %}
{% block content %}
<header>
    <h2> Blog entries tagged with "{{ tag }}"</h2>
</header>


    {% for article in articles %}
         <h4 >{{ article.date | strftime('%B')}} {{  article.date.day| ordinal() }}, {{ article.date.year}}: <a href="/{{ article.url }}">{{ article.title }}</a> {% if article.subtitle %}  - {{ article.subtitle | striptags }}{% endif %}</h4>
    {% endfor %}

{% endblock %}
