/* Google fonts */
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	font-size: 1em;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Mockingbird Theme by Nevan Scott nevanscott.com */

body {
	line-height: 1.5em;
    background-color: #aaa;
	color: #444;
    font-family: sans-serif;
}

a:hover {
   text-decoration: none;
   color: inherit;
}

a {
	text-decoration: none;
	color: #000;
	}

p a {
	text-decoration: underline;
	}

ul {
	list-style: outside disc;
}

ol {
	list-style: outside decimal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

h1 {
   font-size: 2em;
   font-weight: bold;
   margin: 0 0 2em 0;
   -webkit-transition-duration: 0.3s;
   -moz-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
}

h1:hover {
   box-shadow:0px 10px 0px 0px #40a070;
}

h1:not(.title) {
  margin: 2em 0 0 0;
}

h2 {
	font-size: 1.5em;
	line-height: 1em;
	margin: 1.1em 0 1.1em -0.7rem;
}

h3 {
   font-size: 1.2em;
   line-height: 1em;
   margin: 1.1em 0 1.1em -0.5rem;
}

p, h4, h5, h6 {
	margin: 1.2em 0;
}

blockquote {
	margin: 1.5em 1.5em 1.5em .75em;
	padding-left: .75em;
	border-left: 5px solid #40a070;
}

.date {
   color: #DDD;
   background: black;
   clear: both;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   font-size: 1.5em;
   line-height: 1em;
   margin: -1em 20px 0 0;
   font-family: 'Poiret One',cursive;
   font-weight: bold;
   text-align: center;
   -o-transition-duration: .5s;
   -moz-transition-duration: .5s;
   -webkit-transition-duration: .5s;
   transition-duration: .5s;
}

.date:hover{
   background-color:#40a070;
   -webkit-transform:skew(20deg, -16deg);
   -moz-transform:skew(20deg, -16deg);
   -o-transform:skew(20deg, -16deg);
   transform:skew(20deg, -16deg);
}

.dateday{
   font-weight: normal;
   position: relative;
   top: 25%;
   white-space: nowrap;
}

.datemonth{
  position: relative;
  top: 30%;
}

.post {
	margin-top: 4vh;
}

.post_content{
    width:95%;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.post_content a:hover, .post.archives a:hover {
   text-shadow: -2px 2px 2px #777;
}

.post.archives {
	margin-bottom: 2.5em;
    border-top: 8px dotted rgba(171, 205, 228, 0.65);
}

.archives.izquierda{
    padding-left: 3.25em;
}

.archives > h1:not(.title) {
   margin: 1em 0 1em 0;
}

.post.pinned {
	clear: both;
	margin-left: 0;
	margin-bottom: 3em;
	background-color: #EEE;
	color: #000;
	padding: 1px 20px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.tags {
	color: #CCC;
    padding-top: 1em;
}

.tags a {
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 1.8em;
    color: #777;
    padding: 0 .3em;
    border: 1px transparent solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.tags a:hover {
   color: #40a070;  
}

.tags a.selected {
    color: #40a070;
}

.tags li {
    margin-left: -30px;
    list-style: none;
    transform: rotate(-7deg);
}

.tag {
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.tag:hover {
    color: #40a070;
}

.post .controls {
	float: left;
	visibility: hidden;
}

.post:hover .controls {
	visibility: visible;
}

.page {
	margin: 0 90px;
}

code{
	background-color: rgba(220,220,220,.65);
	font-family: monospace;
	padding: 3px;
	border-radius: 10px 0;
/*    word-break: break-all; */
}

.highlight{
   padding-left: 1em;
   border-radius: 10px 0px 10px 0px;
   background-color: rgba(220,220,220,.65);
   max-width: 90%;
   font-family: monospace;
}


.highlight pre > table {
   word-wrap: break-word;  
   white-space: pre-wrap;
}


.post pre, .page pre {
   padding: .5em;
   font-size: 100%;
   font-family: Monospace;
   line-height: 1.1em;
}

.highlighttable {
   background-color: rgba(220,220,220,.65);
   border: 0px;
   border-right: 10px solid rgba(220,220,220,.42);
   padding: 0px .5em;
   display: block;
   overflow-x: auto;
   overflow-y: hidden;
}

.highlighttable pre{
   white-space: pre;
   overflow: hidden;
}

.highlight_inline_table pre {
    padding: 0px .5em;
    overflow: hidden;
}

.highlighttable .highlight{
    max-width:100%;
    background: none;
    padding-left: 0px;
}

.linenos {
   color: #40a070;
}

form.inline_edit {
	clear: both;
	margin: 4.5em 0;
	background-color: #DDD;
	color: #000;
	padding: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.inline_edit .sub {
	color: #888;
	white-space: nowrap;
}

.inline_edit label {
	float: left;
	clear: both;
	width: 140px;
	margin-right: 20px;
}

.inline_edit .buttons {
	display: block;
	text-align: right;
	}

#nav {
	list-style: none;
}

#nav li {
	float: left;
}

#nav a:not(.social){
	display: block;
	padding: 4.5em 10px 10px 10px;
}

.fa {
    padding: 2em 0 0 20px;
}

#nav a:hover:not(.social) {
	background-color: #777;
    color: #fafafa;
}

#nav li.selected a {
	background-color: #000;
	color: #FFF;
    font-weight: bold;
    font-variant: small-caps;
}

#nav li.ephemeral.selected a {
	background-color: #40a070;
	color: #BBB;
}

.header_box ul {
    list-style: none;
    text-align: right;
    font-family: 'Poiret One',cursive;
    font-weight: bold;
}

.header_controls {
    padding-left: 0;
}

.headtitle {
    font-size: 4vw;
    line-height: 4.5vw;
    font-weight: bold;
}

.headtitle img {
    max-width: 100%;
    height: auto;
}

.headsubtitle {
   font-size: 1.75em;
   color: #777;
   margin: .3rem 0;
   -moz-transition-duration: .5s;
   -o-transition-duration: .5s;
   -webkit-transition-duration: .5s;
   transition-duration: .5s;
}

.headsubtitle:hover {
   color: #141;
   text-shadow: #40a070 1px 1px, #40a070 2px 2px, #40a070 3px 3px, #40a070 4px 4px, #40a070 5px 5px, #40a070 6px 6px;
}


#content {
   background-color: #fafafa; 
   background-image: 
   -webkit-linear-gradient(left, transparent 15%, #abced4 15.1%, #abced4 15.4%, transparent 15.5%),
   -webkit-linear-gradient(#dadada .1em, transparent .1em);
   background-image: 
   -o-linear-gradient(right, transparent 15%, #abced4 15%, #abced4 15.5%, transparent 15.5%),
   -o-linear-gradient(#dadada .1em, transparent .1em);
   background-image: 
   -moz-linear-gradient(right, transparent 15%, #abced4 15%, #abced4 15.5%, transparent 15.5%),
   -moz-linear-gradient(#dadada .1em, transparent .1em);
   background-image: 
   linear-gradient(to right, transparent 15%, #abced4 15%, #abced4 15.5%, transparent 15.5%),
   linear-gradient(#dadada .1em, transparent .1em);
   background-size: 100% 1.2em;
   -webkit-box-shadow: 7px 7px 15px 2px #222;
   -moz-box-shadow: 7px 7px 15px 2px #222;
   box-shadow: 7px 7px 15px 2px #222;
}

.pages {
    line-height: 2.5em;
    margin-top: 3.5em;
    padding: 1em;
    color: #444;
    border-top: 5px dotted #40a070;
}

.pages a.next_page {
	float: right;
	width: 40px;
	text-align: center;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
    font-size: 2.50em;
}

.pages a.prev_page {
	float: left;
	width: 40px;
	text-align: center;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    font-size: 2.50em;
}

.pages a {
	color: inherit;
	border: none;
    transition: all 1s ease-in-out;
}

.pages a.next_page:hover {
   -ms-transform: rotate(-360deg);
   -webkit-transform: rotate(-360deg);
   transform: rotate(-360deg);
}

.pages a.prev_page:hover {
   -ms-transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
}

.pages span {
	font-family: 'Just Me Again Down Here', cursive;
    font-size: 2em;
	display: block;
	text-align: right;
}

#footer {
	font-family: sans-serif;
	text-align: center;
	color: #CCC;
	margin: 3em 0;
    font-size: .8em;
}

#footer a {
    color: inherit;
   -moz-transition-duration: .3s;
   -webkit-transition-duration: .3s;
   -o-transition-duration: .3s;
   transition-duration: .3s;
    
}

#footer a:hover {
   text-shadow: -2px 2px 2px #777;
}

#footer p { margin: 0; }

.right { float: right; }

.clear { clear: both; }

.spacer { clear: both;
          height: 5vh;}

.izquierda {
    padding-left: 1.25em;
    float: left;
}

.more { 
   color: #40a070 !important;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
   -webkit-font-smoothing: antialiased;
   padding-top: 1em;
   float: right;
   margin-right: 10px;
   font-family: 'Just Me Again Down Here', cursive;
   font-size: 2em;
   position: relative;
}

.more:after {
   display: block;
   position: absolute;
   left: 0;
   bottom: -5px;
   width: 0;
   height: 5px;
   background-color: #40a070;
   content: "";
   -moz-transition-duration: .3s;
   -webkit-transition-duration: .3s;
   -o-transition-duration: .3s;
   transition-duration: .3s;
}

.more:hover {
   color: #40a070;
}

.more:hover:after {
   width: 100%;
}

.license_img {
   width: 12%;
   min-width: 100px;
   float: left;
}

.license{
   width: 88%;
   float: right;
}

#searchbox{
   position: absolute;
   top: 1vh;
   right: 2vw;
}

#tipue_search_warning, #tipue_search_results_count{
   font-size: 30px;
   font-family: 'Oswald', 'Open Sans', sans-serif;
}

#tipue_search_input{
   width: 100%;
   color: #40a070;
}

.comments {
   margin: 0 0 0 3rem;
   overflow: hidden;
}

.flex-row{
   display: flex;        /* Flex layout so items have equal height  */
   display: -webkit-flex; /* Safari */
   margin-left: 0px;
}

.comments_corner{
   padding: 0px;
}

/* Triangle shadow*/
.comments_corner:before {
  content: "";
  position: relative;
  float: left;
  top: 0%;
  padding: 0px;
  width: 0px;
  height: 0px;
  border-bottom: 10vh solid #dadaaa;
  border-right: 10vh solid transparent;
  -webkit-box-shadow: -3px 3px 2px #777;
  -moz-box-shadow: -3px 3px 2px #777;
  box-shadow: -3px 3px 2px #777;
}

.comments_side{
   width: 10vh;
   float: left;
   background-color: #fefed2;
}

.comments_content {
   background-color: #fefed2;
   display: inline-block;
   vertical-align: middle;
}

.comments_header {
   height: 10vh;
}

.comments_content h2 {
   font-family: 'Just Me Again Down Here', cursive;
   font-size: 6vmin;
   padding-left: 1em;
   margin: 0px;
}

.navbar-toggle{
    background-color: white;
    border: 5px solid black;
}
.navbar-toggle .icon-bar {
    background-color: black;
    height: 5px;
}

/* Responsive stuff */
@media only screen and (max-width: 767px) {
   body {font-size:80%;}
   h2 {margin-left: -0.6rem;}
   h3 {margin-left: -0.2rem;}
   .header_box { display:none; }
   .header_controls { width: 100%;}
   .navbar-collapse{-webkit-box-shadow: 0px 10px 0px rgba(64, 112, 60, 0.4) inset;-moz-box-shadow: 0px 10px 0px rgba(64, 112, 60, 0.4) inset;box-shadow: 0px 10px 0px rgba(64, 112, 60, 0.4) inset;}
   .izquierda{padding-left:1px; padding-right:5px;font-size:2.3vw;line-height:3vw;}
   .date {background-color:#40a070;-webkit-transform:rotate(-16deg);-moz-transform:skew(20deg, -16deg);-o-transform:skew(20deg, -16deg);transform:skew(20deg, -16deg);width:12vw;height:12vw;font-size:3vw;}
   .post_content{width:98%;}
   .highlight{max-width:100%;padding-left:1px;}
   .license{width: -webkit-calc(99% - 100px);width: -moz-calc(100% - 100px);width: -o-calc(100% - 100px);width: calc(100% - 100px);}
   .fa{padding-top:2.2em;}
}

/* Text selection */
::-moz-selection {
    background: #abced4;
}
::-webkit-selection {
    background: #abced4;
}
::selection {
  background: #abced4;
}


/* Scrollbars */
::-moz-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-o-scrollbar {
    width: 8px;
    height: 8px;
}
::scrollbar {
    width: 8px;
    height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px 1px;
}
::-moz-scrollbar-track {
    -moz-border-radius: 10px 1px;
}
::-o-scrollbar-track {
    -o-border-radius: 10px 1px;
}
::scrollbar-track {
    border-radius: 10px 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px 1px;
    background: #40a070; 
}
::-moz-scrollbar-thumb {
    border-radius: 10px 1px;
    background: #40a070; 
}
::-o-scrollbar-thumb {
    border-radius: 10px 1px;
    background: #40a070; 
}
::scrollbar-thumb {
    border-radius: 10px 1px;
    background: #40a070; 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #777; 
}
::-moz-scrollbar-thumb:window-inactive {
	background: #777; 
}
::-o-scrollbar-thumb:window-inactive {
	background: #777; 
}
::scrollbar-thumb:window-inactive {
	background: #777; 
}
