{% extends "base.html" %}

{% block title %} {{ NIUX2_CATEGORY_TRANSL | default("Category") }} | {{ super() }}{% endblock title %}

{%- block content %}
    <div class="niu2-page">
      <h1>{{ NIUX2_CATEGORY_TRANSL | default("Category") }}</h1>
      <ul id="category-list">
      {% for category, n in categories %}
      <li><a href="{{ SITEURL }}/{{ category.url }}">
        {% if NIUX2_CATEGORY_MAP and NIUX2_CATEGORY_MAP[category] %}
            {{ NIUX2_CATEGORY_MAP[category][0] }}
        {% else %}
            {{ category }}
        {% endif  %}
      </a>({{ n | count }})</li>
      {% endfor %}
      </ul>
    </div>
{% endblock content %}
