{% extends "base.html" %}

{% block title %}{{ SITENAME }} | Categories{% endblock %}

{% block header %}
   
<!-- Page Header -->   
    <header id="blog-header">
        <nav id="navigation">
          {% if SITE_LOGO %}
            <span class="blog-logo">
                <a href="{{ SITEURL }}/"><img src="{{SITE_LOGO}}" alt="Blog Logo" /></a>
            </span>
          {% else %}
            <span id="home-button" class="nav-button">
                <a class="home-button" href="{{ SITEURL }}/" title="Home"><i class="ic ic-arrow-left"></i> Home</a>
            </span>
          {% endif %}
          <span id="menu-button" class="nav-button">
            <a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
          </span>
        </nav>
      
    </header>
{% endblock header %}

{% block content %}
<h4 class="post-title">{{ SITENAME }} - Categories</h4>
  {% for category, articles in categories |sort %}
    <article class="post">
      <div class="inner">
        <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})
      </div>
    </article>
  {% endfor %}
{% endblock content %}
