<footer>
</footer>
<footer class="footer">
<div id="footer">
    <ul class="footer-content">
        {% from '_includes/_defaults.html' import SITESUBTITLE with context %}
        {% if SITESUBTITLE %}
        <li class="swain-subtitle"><span class="site-name">{{ SITENAME }}</span> - {{ SITESUBTITLE }}</li>
        {% endif %}
        {% from '_includes/_defaults.html' import SITE_LICENSE with context %}
        {% if SITE_LICENSE %}
        <li class="swain-license">{{ SITE_LICENSE }}</li>
        {% endif %}
        <li class="swain-power"><i class="fa fa-map-signs"></i> Powered by <a href="http://getpelican.com/" title="Pelican Home Page">Pelican</a>.Theme: <a href="https://github.com/FuriousSlade/Swain" title="Github repositories">Swain</a> by <a href="https://github.com/FuriousSlade">Slade.</a>
        </li>
    </ul>
</div>
</footer>