{% import 'translations.html' as translations with context %}
{% extends 'base.html' %}

{% block title %}{{article.title}}{% endblock %}

{% block head %}
  {% if GOOGLE_PLUSONE %}
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  {% endif %}
{% endblock %}

{% block main_section %}
<section class="main-section blog-section" id="blog-posts">
	<h3 class="date">{{article.locale_date}}</h3>
  <article>
	<hgroup>
	
	<h2><a href="{{SITEURL}}/{{article.url}}">{{article.title}}</a></h2>
	{% include "twitter.html" %}
	{% include "google_plusone.html" %}
    {{ translations.translate(article) }}
	</hgroup>
	{{article.content}}

	<br/>	
	<footer>
	{% if article.tags %}
	<h4>TAGS</h4>
	<ul class="tags">
	{% for tag in article.tags %}
	<li><a href="{{ SITEURL }}/tag/{{ tag }}.html" class="tag">{{tag}}</a></li>
	{% endfor %}
	</ul>
	{% endif %}

	<br/>
	{% if DISQUS_SITENAME %}
	<div class="comments">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
					var disqus_identifier = "{{ article.url }}";
					(function() {
					 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					 dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
					 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					 })();
			 </script>
	 </div>
	 {% endif %}
	</footer>
	</article>
</section>


{% endblock %}
