<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Personal website and blog of Samrat Man Singh. Follow him at @samratmansingh" />
  <meta name="keywords" content="Samrat Man Singh, python, flask, computers, technology, nepal" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{SITENAME}}{% endblock %}</title>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <link rel="stylesheet" href="{{SITEURL}}/{{ MEDIA_URL }}css/styles.min.css" type="text/css" media="screen, projection">
  
</head>
{% endblock %}
<body>
<header class="main-header">
  <hgroup>
    <div class="picture">
      <a href="/" rel="home"></a>
    </div>
    <h1>{{ SITENAME }}</h1>
    <h2>18 year-old from Nepal interested in computers and technology.</h2>
  </hgroup>
  <nav>
    <ul class="main-nav">
      <li><a href="/" id="home-link">Home</a></li>
      <li><a href="http://twitter.com/#!/samratmansingh" id="twitter-link">Twitter</a></li>
      <li><a href="http://github.com/samrat" id="github-link">Github</a></li>
			<li><a href="http://feeds.feedburner.com/SamratManSingh" id="github-link">Feed</a></li>
      <li><a href="mailto:samratmansingh@gmail.com?subject=Hello" id="contact-link">Contact</a></li>
    </ul>
  </nav>
  <a href="http://pelican.notmyidea.org" class="fork-me">Powered by Pelican.</a>

</header>
{% block main_section %}{% endblock %}
<div class="mobile-nav">
  <span class="nav-btn" id="mobile-nav-btn">
    <span class="nav-btn-bar"></span>
    <span class="nav-btn-bar"></span>
    <span class="nav-btn-bar"></span>
  </span>
  <h3><a href="/">samrat.github.com</a></h3>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
var twitter_integration_enabled = {% if TWITTER_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    github_integration_enabled = {% if GITHUB_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    dribbble_integration_enabled = {% if DRIBBBLE_INTEGRATION_ENABLED %}true{% else %}false{% endif %},
    instagram_integration_enabled = {% if INSTAGRAM_INTEGRATION_ENABLED %}true{% else %}false{% endif %};
/*]]>*/
</script>

<script src="{{ SITEURL }}/{{ MEDIA_URL }}js/min/scripts.min.js"></script>

{% include "analytics.html" %}
</body>
