{% extends "base.html" %}

{% block content %}

<div id="posts" xmlns="http://www.w3.org/1999/html">

{% if articles %}
{% for article in articles_page.object_list %}

    {% if loop.index == 1 %}
        <div class="text">
        <a href="{{ SITEURL }}/{{ article.url }}" target="_self"><h2>{{ article.title }}</h2></a>

        {{ article.content }}

        {% include 'post_footer.html' %}

        </div> <!-- end single post -->

    {% else %}
        <div class="text">
            <a href="{{ SITEURL }}/{{ article.url }}" target="_self"><h2>{{ article.title }}</h2></a>

            {{ article.summary }}

            <p><a class="readmore" href="{{ SITEURL }}/{{ article.url }}">{{ _('read more') }}</a></p>

            {% include 'post_footer.html' %}

        </div> <!-- end single post -->
    {% endif %}

{% endfor %} {# For article #}
{% endif %} {# If articles #}

</div> <!-- end posts -->

<div id="pagination">


{% if articles_page.has_previous() %}
    {% if articles_page.previous_page_number() == 1 %}
        <a href="{{ SITEURL }}/{{ page_name }}.html" target="_self">&larr; {{ _('Older entries') }}</a>
    {% else %}
        <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html" target="_self">&larr; {{ _('Older entries') }}</a>
    {% endif %}
{% endif %}

<span id="pagecount">{{ gettext('Page %(curr)s of %(total)s', curr=articles_page.number, total=articles_paginator.num_pages) }}</span>

{% if articles_page.has_next() %}
    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html" target="_self">{{ _('Newer Entries') }} &rarr;</a>
{% endif %}
</div>

{% endblock %}