{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{%endblock%}
{% block description %}
<meta name="description" content="{{ article.summary|e }}" />
{% if article.tags %}
<meta name="keywords" content=" {% for tag in article.tags %}{{ tag }} {% endfor %} "/>
{% endif %}
{% endblock description %}

{% block content %}
{% import 'macros.html' as macros %}
<div class="row">
    <div class="small-12 columns article">
        <h2>{{ article.title }}</h2>
        {{ macros.article_info(article, SITEURL,disqus=DISQUS_SITENAME) }}
        <section class="article">
            {{ article.content }}    
        </section>
        {% if DISQUS_SITENAME %}
        <hr>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = "{{ DISQUS_SITENAME }}"; // required: replace example with your forum shortname
            var disqus_identifier = "{{ article.title|string|replace('&nbsp;',' ')|replace(' ', '-' )|striptags|lower|e }}";
            var disqus_url = "{{ SITEURL }}/{{ article.url }}";
            var disqus_title = "{{ article.title|replace('&nbsp;',' ')|striptags|e }}";

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}
    </div>
</div>
{% endblock content %}
