/* Misc */
.button { background-color: #0090d3; } 
a { color: #0090d3; }

/* Base.html - top navigation */
.top-bar { 
height: 100%; 
margin-bottom: 1em; 
box-shadow: 0.1em 0.1em 0.5em 0.1em;
}
ul.button-group.navigation { margin-bottom: 1em; }


/* Base.html sidebar */
h5.sidebar-title {
border-bottom: 0.1em solid #eeeeee;
margin-top: 1em;
font-weight: bold;
text-transform: uppercase;
}

.side-nav li a { color: #222}
.side-nav { padding: 0.5em 0; }


/* Index.html - posts */
h3.article-title { margin-bottom: 0em; }
.article-title a { color: #222222; }


/* Article infos | infos_bottom.html */
.subheader { color: #aaa; margin-bottom: 1.2em; }
a.article-info { color: #aaa; }


/* Archives.html */
.table-archive { border: none; }


/* Index.html - line seperator for posts */
hr.gradient {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}