{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
    <!-- Page Header -->
    {% if page.header_cover %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ page.header_cover }}')">
    {% elif HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading text-center text-light">
                        <h1 class="display-1">{{ page.title }}</h1>
                        <hr class="medium"></hr>
                        {% if page.subtitle %}
                           <h2 class="display-3">{{ page.subtitle }}</h2>
                        {% else %}
                           <h2 class="display-3">{{ SITENAME }}</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock header %}

{% block content %}

    <article class="margin-top-20">
        {{ page.content }}
    </article>

{% endblock content %}
