{% extends "index.html" %}

{% block title %}{{ SITENAME }} - {{ 'Tag'|gettext(DEFAULT_LANG) }} {{ tag }}{% endblock %}

{% block header %}

    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row margin-top-20">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading text-light text-center">
                        <h3 class="display-3">{{ 'Tag'|gettext(DEFAULT_LANG) }}:</h3> <h1>{{ tag }}</h1>
                        <hr class="medium"></hr>
                        <h2 class="display-3">{{ SITENAME }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock header %}

