{% extends 'base.html' %}

{% block title %} {{ article.title|striptags }}{% endblock title %}

{% block container %}
    <section id="content">
        <article>
            <p class="article-date">
                {{ article.date }}
            </p>
            <header class="header">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">
                    <h2 class="blogpost-title">
                        {{ article.title }}
                    </h2>
                </a>
            </header>
            <div>
                {{ article.content }}
            </div>
            <div class="article-info">
                <hr/>
                <div class="article-info">
                    <span><b>Category: </b><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
                    <br/>
                    <span><b>Publication Date: </b> {{ article.locale_date }} </span>
                    <br/>
                    {% for tag in article.tags %}
                        <a class="label-default" href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a>
                    {% endfor %}
                    <br/>
                </div>
            </div>
        </article>
    </section>
    {% if DUOSHUONAME and article.comment %}
        <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="article-{{ article.title }}" data-title="{{ article.title }}" data-url="{{ SITEURL }}/{{ article.url }}"></div>
        <!-- 多说评论框 end -->
    {% else %}
        <br/><br/><br/><br/>
    {% endif %}
    {% if JIATHIS and article.jiathis %}
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style">
            <span class="jiathis_txt">分享到：</span>
            <a class="jiathis_button_tools_1"></a>
            <a class="jiathis_button_tools_2"></a>
            <a class="jiathis_button_tools_3"></a>
            <a class="jiathis_button_tools_4"></a>
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
            <a class="jiathis_counter_style"></a>
        </div>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->
    {% endif %}

{% endblock container %}

{% block footer %}
    {% include '_includes/footer.html' %}
{% endblock %}
