{% extends 'base.html' %}

{% block title %} {{ SITENAME }} - {{ category }} {% endblock %}

{% block container %}
    <section id="content">
        <header class="header">
            <h3>{{ category }}</h3>
        </header>
        <dl>
            <h4>{{ category }}</h4>
            {% for article in articles|sort %}
                <dd>
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                </dd>
            {% endfor %}
        </dl>
    </section>
{% endblock %}

{% block footer %}
    {% include '_includes/footer.html' %}
{% endblock %}
