{% extends 'base.html' %}

{% block container %}
    <section class="header">
        {% include '_includes/header.html' %}
    </section>

    <section class="home-section">
        <h3 class="home-header">
            Recent blog posts
        </h3>
        <div>
            {% for article in articles %}
                <div class="home-post">
                    <p class="blogpost-date" style="float: right;">{{ article.date.strftime('%Y-%m-%d')}}</p>
                    <h6><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h6>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="home-section">
        <div class="row">
            <div class="">
                <h3 class="blogpost-title">Links</h3>
                <div class="home-post">
                    {% for title,url in LINKS %}
                        <a href="{{ url }}" target="_blank">{{ title }}</a>&nbsp; &nbsp;
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <br/>
{% endblock %}


{% block footer %}
    {% include '_includes/footer.html' %}
{% endblock %}
