{% extends 'base.html' %}

{% block container %}
    <section class="header">
        {% include '_includes/header.html' %}
    </section>

    <section class="home-section">
        <h2 class="home-header">
            Recent blog posts
        </h2>
        <div>
            {% for article in articles[0:3] %}
                <div class="home-post">
                    <p class="blogpost-date" style="float: right;">{{ article.locale_date }}</p>
                    <h5><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
                    <p>
                    <p>{{ article.summary }}</p>
                </div>
                <div class="row">
                    <a class="button button-primary button-more" href="{{ SITEURL }}/{{ article.url }}">More...</a>
                </div>
            {% endfor %}
        </div>
    </section>
    <br/><br/><br/>
    <section class="home-section">
        <div class="row">
            <div class="">
                <h2 class="blogpost-title">Links</h2>
                <div class="home-post">
                    {% for title,url in LINKS %}
                        <a href="{{ url }}" target="_blank">{{ title }}</a>&nbsp; &nbsp;
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block footer %}
    {% include '_includes/footer.html' %}
{% endblock %}
