{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block content %}
    <main>
        <section>
            <h2>{{ page.title }}</h2>
            {% import 'translations.html' as translations with context %}
            {{ translations.translations_for(page) }}
            {{ page.content }}
            {% if page.modified %}
                <p>
                Last updated: {{ page.locale_modified }}
                </p>
            {% endif %}
        </section>
     </main>
{% endblock %}
