{% extends "base.html" %}

{% block title %}{{ SITENAME }} &middot; Archives{% endblock %}
{% block content %}

    <div class="row post">
        <div class="col-xs-3 col-md-2 col-lg-2"></div>
        <div class="col-xs-9 col-md-10 col-lg-10">
            <h1 style="text-align: right; margin-right:3em;">Archives</h1>
        </div>
    </div>
    <div class="row">
        {%- if dates %}
			{#- hold on to your butts! #}

         {% set month = None -%}
         {%- for article in dates if 'hidden' not in article.categories -%}
            {% set cmonth = article.date.date().replace(day=1) %}
            {%- if not month -%}
            {%   set month = cmonth %}
            <div class="archives izquierda col-xs-3 col-md-2 col-lg-2">
                <div class="date">
                 <div class="dateday">{{ article.date.strftime("%Y") }}</div>
                 <div class="datemonth">{{ article.date.strftime("%b") }}</div>
                </div>
            </div>
            <div class="post archives col-xs-8 col-md-9 col-lg-9">
                <ul>
            {%- elif cmonth < month -%}
            {%   set month = cmonth %}
                </ul>
                <br />
            </div>
            <div class="archives izquierda col-xs-3 col-md-2 col-lg-2">
                <div class="date">
                 <div class="dateday">{{ article.date.strftime("%Y") }}</div>
                 <div class="datemonth">{{ article.date.strftime("%b") }}</div>
                </div>
            </div>
            <div class="post archives col-xs-8 col-md-9 col-lg-9">
                <ul>
            {%- endif %}
                    <li><strong>{{ article.date.strftime("%d") }}{{ article.date.strftime("%b") }}</strong>: <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title | truncate(70) }}</a></li>
         {%- endfor %}
                </ul>
                <br />
            </div>
        {% else %}

            <div class="post text pinned">
                <h2>No Posts :-(</h2>
                <p>There aren't any posts in the timeframe specified.</p>
            </div>
        {% endif %}
    </div>
    <div class="rowpost">
        <div class="col-xs-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-10 col-md-10 col-lg-10 post archives">
            <h1>Browse by tag:</h1>  
            {% block tags %}{% include "tags.html" %}{% endblock tags%}
            <br></br>
            <br></br>
        </div>
    </div>
{% endblock %}
