        <div class="row post">
            <div class="izquierda col-xs-2 col-md-2 col-lg-2">
            {% if first_article_of_day %}
             <div class="date">
                {% if article.date.strftime('%y') < CURRDATE.strftime('%y') %}
                 <div class="dateday">{{ article.date.strftime("%d %b") }}</div>
                 <div class="datemonth">{{ article.date.strftime("%Y") }}</div>
                {% else %}
                 <div class="dateday">{{ article.date.strftime("%a %d") }}</div>
                 <div class="datemonth">{{ article.date.strftime("%b") }}</div>
                {% endif %}
             </div>
            {% endif %}
          
            {% if article.tags %}
                 <div class="tags"><ul>{% for t in article.tags %}
                     <li>
                     <a href="{{ SITEURL }}/{{ t.url }}" {%- if tag and tag.name == t.name %} class="selected"{% endif -%}>{{ t }}</a>
                     </li>
                     {%- endfor %}</ul>
                 </div>
            {%- endif %}
            </div>
            <div class="derecha{% if article.pinned %} pinned{% endif %} col-xs-10 col-md-10 col-lg-10">
                {% if article['title'] -%}
                <h1 class="title">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Read full article: &quot;{{ article.title|striptags }}&quot;">{{ article.title|striptags }}</a>
                </h1>
                {% endif %}
                <section class="post_content">
                    {{ article.summary }}
                </section>
                <a class="more" href="{{ SITEURL }}/{{ article.url }}">Read more&nbsp;&#8674;</a>
                <div class="clear"></div>
            </div>
        </div>
