        <div class="row post">
            <div class="izquierda col-xs-2 col-md-2 col-lg-2">
             <div class="date">
                {% if article.date.strftime('%y') < CURRDATE.strftime('%y') %}
                 <div class="dateday">{{ article.date.strftime("%d %b") }}</div>
                 <div class="datemonth">{{ article.date.strftime("%Y") }}</div>
                {% else %}
                 <div class="dateday">{{ article.date.strftime("%a %d") }}</div>
                 <div class="datemonth">{{ article.date.strftime("%b") }}</div>
                {% endif %}
             </div>
             {% if article.tags %}
                 <div class="tags"><ul>{% for t in article.tags %}
                     <li>
                     <a href="{{ SITEURL }}/{{ t.url }}" {%- if tag and tag.name == t.name %} class="selected"{% endif -%}>{{ t }}</a>
                     </li>
                     {%- endfor %}</ul>
                 </div>
             {%- endif %}
            </div>
            <div class="derecha{% if article.pinned %} pinned{% endif %} col-xs-10 col-md-10 col-lg-10">
                {% if article['title'] -%}
                <h1 class="title">
                    <a href="javascript:javascript:history.go(-1)" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a>
                </h1>
                {% endif %}
                <section class="post_content">
                    {{ article.content }}
                </section>
                <div class="clear"></div>
{% include 'back.html' %}
            </div>
        </div>

        {% if DISQUS_SITENAME %}
        <div class="comments">
        <div class="row post">
            <div class="col-xs-10 col-md-10 col-lg-10 comments_content comments_header">
                <h2>Leave your comments:</h2>
            </div>
            <div class="col-xs-2 col-md-2 col-lg-2 comments_corner"></div>
        </div>
        <div class="row flex-row">
            <div class="col-xs-10 col-md-10 col-lg-10 comments_content">
                <div id="disqus_thread">
                    <script type="text/javascript">
                       var disqus_identifier = "{{ article.url }}";
                       (function() {
                       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                       dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                      })();
                    </script>
                </div>
            </div>
            <div class="comments_side"></div>
        </div></div>
        <div class="spacer"></div>
        {% endif %}

