{% if DEFAULT_PAGINATION and (articles_page.has_previous() or articles_page.has_next()) %}
            <div class="clear"></div>
                <div class="pages col-lg-12">
                {%- if articles_page.has_previous() %}
                 {%   if articles_page.previous_page_number() == 1 %}

                    <a href="{{ SITEURL }}/{{ page_name }}.html" class="prev_page">&#8635;</a>
                 {%-   else %}

                    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html" class="prev_page">&#8635;</a>
                 {%-   endif %}
                {%- endif %}

                {%- if articles_page.has_next() %}

                    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html" class="next_page">&#8634;</a>
                    <span>Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</span>
                {%- else %}
                    <span style="text-align: left">This is the last page ({{ articles_paginator.num_pages }})</span>
                {%- endif %}
                </div>
{% else %}
    {% include 'back.html' %}
{% endif %}
