{# XXX: make this configurable? #}
{%- set TAG_MIN_EM = 1 -%}
{%- set TAG_MAX_EM = 2.5 -%}
{%- set TAG_COL_01 = [50, 50, 50] -%}
{%- set TAG_COL_02 = [60, 160, 144] -%}

{%- macro tag_url(t) -%}{{ SITE_URL }}/tag/{{ t.0 }}.html{%- endmacro -%}
{%- macro tagprio_to_fontsz(p) -%}
    {{ ((TAG_MAX_EM - TAG_MIN_EM) / (TAG_CLOUD_STEPS - 1) * (TAG_CLOUD_STEPS - p)) + TAG_MIN_EM }}em
{%- endmacro -%}
{%- macro tagprio_to_col(p) -%}
    {{ (0.75 / (TAG_CLOUD_STEPS - 1) * (TAG_CLOUD_STEPS - p)) + 0.25}}
{%- endmacro -%}

{% block tags %}

                {% for tag in tag_cloud -%}
                <a class="tag" href="{{ tag_url(tag)|lower }}" style="font-size: {{ tagprio_to_fontsz(tag.1) }}; opacity: {{ tagprio_to_col(tag.1) }};" title="Filter articles by tag: {{ tag.0 }}">{{ tag.0 }} </a>
                {% else %}
                <h1>No tags!</h1>
                There aren't any tags yet. Such a shame... ;_(
                {% endfor %}
{% endblock tags %}

