{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ author }}{% endblock %}

{% block menuitem_active %}
{% if link == "{{ page_name}}.html" %}class="active"{% endif %}
{% endblock %}

{% block content %}
{% if author and dates %}
    <section id="content" class="body">
        <h1>{{ author }} ({{ dates.__len__() }})</h1>
        <ul>

        {% for article in dates %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}

        </ul>
    </section>
{% endif %}
{% endblock %}
