<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}

    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="{{ SITEURL }}/theme/html5.js"></script>
    <![endif]-->

    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}

    <!-- Le styles -->
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/local.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/pygments.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Gudea:400,400italic|Alegreya+SC' rel='stylesheet' type='text/css'>

    {% endblock head %}
</head>

<body>
<header class="blog-header">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
	<a href="{{ SITEURL }}" class="brand">{{SITENAME}}</a>
      </div>

      <div class="span3" id="blog-nav">
	<ul class="nav nav-pills pull-right">
	  {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in pages %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            {% endif %}
	   {% for cat, null in categories %}
	    <li {% if cat == category %} class="active" {% endif %}>
	      <a href="{{ SITEURL }}/{{ cat.url }} ">{{ cat }}</a>
	   {% endfor %}
	</ul>
      </div>
    </div> <!-- End of fluid row-->
  </div>   <!-- End of Container-->
</header>
    
<div class="container">
    <div class="content">
    <div class="row-fluid">

        <div class="span10">
        {% block content %}{% endblock %}
        </div>
        
        
    </div> {# End row #}
    </div> {# End content #}
</div>

<!--footer-->
<div class="container">
  <div class="well" style="background-color: #E9EFF6">
    <div id="blog-footer">
      <div class="row-fluid">
	{% if SOCIAL %}
	<div class="social span2" align="center" id="socialist">
	  <ul class="nav nav-list">
	    <li class="nav-header">
	      Social
	    </li>
	    {% for name,link in SOCIAL %}
	    <li><a href="{{ link }}"><i class="icon-{{ name }}" style="color: #1f334b"></i>{{name}}</a></li>
	    {% endfor %}
            {% if EMAIL%}
            <a href="mailto:{{ EMAIL}}"><i class="icon-envelope" style="color: #1f334b" ></i> email</a>
            {% endif %}

	  </ul>
	</div>
	{% endif %}
	{% include "colophon.html" %}
        {% if LINKS %}
        <div class="links span2" align="center">
          <ul class="nav nav-list">
            <li class="nav-header"> 
              Links
            </li>
            
            {% for name, link in LINKS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
	<div class="site-nav span2" align="center">
          <ul class="nav nav-list" id="site-links">
            <li class="nav-header"> 
              Site
            </li>
            <li><a href="{{ SITEURL }}"><i class="icon-home" style="color: #1f334b">
                </i>Home</a></li>
            <li><a href="{{ SITEURL }}/archives.html"><i class="icon-list" style="color: #1f334b">
                </i>Archives</a></li>
	    <li><a href="{{ SITEURL }}/tags.html"><i class="icon-tags" style="color: #1f334b">
                </i>Tags</a></li>
	    
	    {% if FEED_RSS %}
	    <li> <a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="alternate">
                <i class="icon-rss" style="color: #1f334b"></i>
                RSS Feed</a></li>
	    {% endif %}
	    {% if FEED_ATOM %}
	    <li> <a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" rel="alternate">
                <i class="icon-rss" style="color: #1f334b"></i>
                Atom Feed</a></li>
	    {% endif %}
	  </ul>

        </div>

      </div> <!--end of fluid row-->
    </div> <!--end of blog-footer-->
    <hr />
    <p align="center"><a href="{{ SITEURL }}">{{ SITENAME }}</a>
      &copy; {{ AUTHOR }}
    Powered by <a href="https://github.com/getpelican/pelican">Pelican</a> and
        <a href="https://twitter.github.com/bootstrap">Twitter Bootstrap</a>. 
        Icons by <a href="https://fortawesome.github.com/Font-Awesome">Font Awesome</a> and 
        <a href="https://gregoryloucas.github.com/Font-Awesome-More">Font Awesome More</a></p>

  </div> <!--end of well -->
</div> <!--end of container -->

<!--/footer-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>


{% include "analytics.html" %}

</body>
</html>
