{% if DEFAULT_PAGINATION %}
<div class="pagination">
<ul>
{% if articles_page.has_previous() %}
    <li class="prev"><a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr; Previous</a></li>
{% else %}
    <li class="prev disabled"><a href="#">&larr; Previous</a></li>
{% endif %}

{% for num in range( 1, 1 + articles_paginator.num_pages ) %}
    <li class="{{ 'active' if num == articles_page.number else '' }}"><a href="{{ SITEURL }}/{{ articles_paginator.page(num).url }}">{{ num }}</a></li>
{% endfor %}

{% if articles_page.has_next() %}
    <li class="next"><a href="{{ SITEURL }}/{{ articles_next_page.url }}">Next &rarr;</a></li>
{% else %}
    <li class="next disabled"><a href="#">&rarr; Next</a></li>
{% endif %}

</ul>
</div>
{% endif %}
