{% extends "base.html" %}
{% block content %}
<div class="page-container archive-container">

    <div class="article-header-container">
        <div class="background-image-container">

            {# title with big background image #}
            <div class="background-image-small">
                <div class="title-container">
                    <h1>Tags for {{ SITENAME }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="entry-content" style="min-height:100vh">

      <ul>
      {%- for tag, articles in tags|sort %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
      {% endfor %}
      </ul>

    </div>

</div>
{% endblock %}
