<div class="credits">
    <h3>Stuff and credits</h3>
    <p>
    Proudly powered by <a href="http://getpelican.com/">Pelican</a>, 
    which takes great advantage of <a href="http://python.org">Python</a>.
    </p>
    <p>
    This site also makes use of <a href="http://foundation.zurb.com">Zurb Foundation Framework</a>
    and is typeset using the blocky -- but quite good-looking indeed -- 
    <a href="https://www.google.com/fonts/specimen/Exo%202">Exo 2</a> fonts,
    which comes in a lot of weight and styles. 
    </p>
    <p>Enjoy!</a>
</div>
