<!doctype html>
<html class="no-js" lang="en">
<head>
		<meta charset="UTF-8">
		<title>MaxL -- Ze Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/kube.css" media="all">
        <link href='https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/lamboz.css" media="all">
</head>
<body>
    <div class="header">
        <div class="data-holder">
        <row>
            <column cols="10">
                <h1>El Lamboz Blog</h1>
            </column>
            <column cols="2">
                <div style="width:90px;height:90px;background-color:#C01;">&nbsp;</div>
            </column>
        </row>
        </div>
    </div>
    <div class="content">
        <div class="data-holder">
        <row>
            <column cols="2" class="aside">
                <h3>Menu</h3>
                <ul>
                    <li>Pippo</li>
                    <li>Pertica</li>
                    <li>Palla</li>
                </ul>
                <h3>Menu</h3>
                <ul>
                    <li>Pippo</li>
                    <li>Pertica</li>
                    <li>Palla</li>
                </ul>
                <h3>Menu</h3>
                <ul>
                    <li>Pippo</li>
                    <li>Pertica</li>
                    <li>Palla</li>
                </ul>
            </column>
            <column cols="10">
                <div class="main-article">
                    <h2>Hello, I'm the main issue</h2>
                    <p>
                    e no, non dipende dall'emilia: in sicilia mi successe di una tizia che
                    considera identica la lapidazione di satana della mecca e' un esempio. 
                    (5) falso, i criminali si autoassolvono di continuo. di rimorsi se ne 
                    misurano pochissimi. (6) interessante come il subconscio, sede di cose 
                    innominabili, venga precipitato in basso (sub), mentre il super-io , 
                    il giudizio , venga messo in alto. insomma, satana sta sottoterra e
                    dio che fine fa?» rimane fuori dal sapere, mistero.e
                    </p>
                    <div class="read-more"><a href="#">Read more</a></div>
                </div>
                <blocks cols="2">
                    <div class="sec-article">
                        <h3>Hello, I'm the secondary issue</h3>
                        <p>
                        e no, non dipende dall'emilia: in sicilia mi successe di una tizia che
                        misurano pochissimi. (6) interessante come il subconscio, sede di cose 
                        innominabili, venga precipitato in basso (sub), mentre il super-io , 
                        il giudizio , venga messo in alto. insomma, satana sta sottoterra e
                        dio che fine fa?» rimane fuori dal sapere, mistero.e
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                    <div class="sec-article">
                        <h3>Hello, I'm the secondary issue</h3>
                        <p>
                        e no, non dipende dall'emilia: in sicilia mi successe di una tizia che
                        considera identica la lapidazione di satana della mecca e' un esempio. 
                        (5) falso, i criminali si autoassolvono di continuo. di rimorsi se ne 
                        misurano pochissimi. (6) interessante come il subconscio, sede di cose 
                        innominabili, venga precipitato in basso (sub), mentre il super-io , 
                        il giudizio , venga messo in alto. insomma, satana sta sottoterra e
                        dio che fine fa?» rimane fuori dal sapere, mistero.e
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                    <div class="sec-article">
                        <h3>Hello, I'm the secondary issue</h3>
                        <p>
                        e no, non dipende dall'emilia: in sicilia mi successe di una tizia che
                        considera identica la lapidazione di satana della mecca e' un esempio. 
                        (5) falso, i criminali si autoassolvono di continuo. di rimorsi se ne 
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                     <div class="sec-article">
                        <h3>Hello, I'm the secondary issue</h3>
                        <p>
                        e no, non dipende dall'emilia: in sicilia mi successe di una tizia che
                        considera identica la lapidazione di satana della mecca e' un esempio. 
                        (5) falso, i criminali si autoassolvono di continuo. di rimorsi se ne 
                        misurano pochissimi. (6) interessante come il subconscio, sede di cose 
                        innominabili, venga precipitato in basso (sub), mentre il super-io , 
                        il giudizio , venga messo in alto. insomma, satana sta sottoterra e
                        dio che fine fa?» rimane fuori dal sapere, mistero.e
                        </p>
                        <div class="read-more"><a href="#">Read more</a></div>
                    </div>
                  </blocks>
                  <div class="pagination-block">
                        Pages: 
                  </div>
                <row>
            </column>
        </div>
    </div>
    <div class="footer">
        <div class="data-holder">
        <row>
            <column cols="3">
                <h3>Hello, I'm the secondary issue</h3>
                <p>
                e no, non dipende dall'emilia: in sicilia mi successe di una tizia che
                considera identica la lapidazione di satana della mecca e' un esempio. 
                (5) falso, i criminali si autoassolvono di continuo. di rimorsi se ne 
                </p>
                <div class="read-more"><a href="#">Read more</a></div>
            </column>
            <column cols="6">
                <h3>Hello, I'm the secondary issue</h3>
                <p>
                e no, non dipende dall'emilia: in sicilia mi successe di una tizia che
                considera identica la lapidazione di satana della mecca e' un esempio. 
                (5) falso, i criminali si autoassolvono di continuo. di rimorsi se ne 
                misurano pochissimi. (6) interessante come il subconscio, sede di cose 
                innominabili, venga precipitato in basso (sub), mentre il super-io , 
                il giudizio , venga messo in alto. insomma, satana sta sottoterra e
                dio che fine fa?» rimane fuori dal sapere, mistero.e
                </p>
                <div class="read-more"><a href="#">Read more</a></div>
            </column>
            <column cols="3">
                <h3>Hello, I'm the secondary issue</h3>
                <p>
                e no, non dipende dall'emilia: in sicilia mi successe di una tizia che
                considera identica la lapidazione di satana della mecca e' un esempio. 
                (5) falso, i criminali si autoassolvono di continuo. di rimorsi se ne 
                misurano pochissimi. (6) interessante come il subconscio, sede di cose 
                innominabili, venga precipitato in basso (sub), mentre il super-io , 
                il giudizio , venga messo in alto. insomma, satana sta sottoterra e
                dio che fine fa?» rimane fuori dal sapere, mistero.e
                </p>
                <div class="read-more"><a href="#">Read more</a></div>
            </column>
        </row>
        </div>
    </div>
</body>
</html>
